<%= render 'components/navbar' %>

<div id="field">
  <div class="player-list">
    <h2>Create your team</h2>

    <%= form_with model: @lineup do |f| %>
      <div class="form">
        <%= f.label :title, "Squad Title", class: "label-lineup"%>
        <%= f.text_field :title, class: "input-lineup" %>
        <%= f.label :subtitle, "Subtitle", class: "label-lineup"%>
        <%= f.text_field :subtitle, class: "input-lineup" %>
        <%= f.label :formation, "Formation", class: "label-lineup"%>
        <%= f.select :formation, [["4-5-1"], ["4-4-2"], ["4-4-1-1"], ["4-3-3"], ["4-3-3 (D)"], ["4-2-3-1"], ["4-1-2-1-2"], ["3-5-2"], ["3-4-3"], ["3-2-4-1"], ["3-2-2-3"]], {}, class: "select-lineup" %>
        <%= f.submit "Save and share", class: "btn-lineup"%>
      </div>
    <% end %>

    <%# @players.each do |player| %>
      <%# <div class="moove-avatar"> %>
        <%# <%= cl_image_tag player.picture.key, crop: :thumb, gravity: :face, width: 40, height: 40, class: "avatar", alt: "avatar" %>
        <%# <span class="first-last-name"><%= player.first_name %>
      <%# </div> %>
    <%# <% end %>
  </div>
  <img id="img-field"src="https://images.photowall.com/products/44663/soccer-field.jpg?h=699&q=85" alt="soccer field">
</div>
