<%= render 'components/navbar' %>

<div id="field" data-controller="add-player">
  <div class="player-list">
    <h2>Create your team</h2>

    <%= form_with model: @lineup do |f| %>
      <div class="form">
        <div class="grid-label">
          <div>
            <%= f.label :title, "Squad Title", class: "label-lineup"%>
            <%= f.text_field :title, class: "input-lineup" %>
          </div>
          <div>
            <%= f.label :subtitle, "Subtitle", class: "label-lineup"%>
            <%= f.text_field :subtitle, class: "input-lineup" %>
          </div>
          <div>
            <%= f.label :formation, "Formation", class: "label-lineup"%>
            <%= f.select :formation, [["4-5-1"], ["4-4-2"], ["4-4-1-1"], ["4-3-3"], ["4-3-3 (D)"], ["4-2-3-1"], ["4-1-2-1-2"], ["3-5-2"], ["3-4-3"], ["3-2-4-1"], ["3-2-2-3"]], {}, data: { action: "change->add-player#change" }, class: "select-lineup" %>
          </div>
        </div>

    <%# @players.each do |player| %>
      <%# <div class="moove-avatar"> %>
        <%# <%= cl_image_tag player.picture.key, crop: :thumb, gravity: :face, width: 40, height: 40, class: "avatar", alt: "avatar" %>
        <%# <span class="first-last-name"><%= player.first_name %>
      <%# </div> %>
    <%# <% end %>
  </div>
  <div class="position-on-field">
    <img id="img-field"src="https://images.photowall.com/products/44663/soccer-field.jpg?h=699&q=85" alt="soccer field">
    <span id="player1" class="round" data-action="click->add-player#add">+</span>
    <span id="player2" class="round" data-action="click->add-player#add">+</span>
    <span id="player3" class="round" data-action="click->add-player#add">+</span>
    <span id="player4" class="round" data-action="click->add-player#add">+</span>
    <span id="player5" class="round" data-action="click->add-player#add">+</span>
    <span id="player6" class="round" data-action="click->add-player#add">+</span>
    <span id="player7" class="round" data-action="click->add-player#add">+</span>
    <span id="player8" class="round" data-action="click->add-player#add">+</span>
    <span id="player9" class="round" data-action="click->add-player#add">+</span>
    <span id="player10" class="round" data-action="click->add-player#add">+</span>
    <span id="player11" class="round" data-action="click->add-player#add">+</span>
  </div>
  <%= f.submit "Save and share", class: "btn-lineup"%>
      </div>
    <% end %>
</div>
