<%= render 'components/navbar' %>

<div class="flex">
  <div class="squad">
    <div class="position">
      <%= link_to "Goalkeepers", players_path(query: 'goalkeeper'), class: "position-name underline-hover-effect none-link #{'blue-bold-text' if params[:query] == 'goalkeeper'}" %>
      <%= link_to "Defenders", players_path(query: 'defender'), class: "position-name underline-hover-effect none-link #{'blue-bold-text' if params[:query] == 'defender'}" %>
      <%= link_to "Midfielders", players_path(query: 'midfilder'), class: "position-name underline-hover-effect none-link #{'blue-bold-text' if params[:query] == 'midfilder'}" %>
      <%= link_to "Forwards", players_path(query: 'forward'), class: "position-name underline-hover-effect none-link #{'blue-bold-text' if params[:query] == 'forward'}" %>
    </div>
    <div class="players" data-controller="player">
      <%= render partial: 'player_info', players: @players %>
    </div>
  </div>
  <div class="carousel-cards">
    <% @players.each do |player| %>
      <div class="player-card" data-target="player.card" data-player-id="<%= player.id %>">
        <%= cl_image_tag player.picture.key, crop: :fill %>
        <div class="card-info">
          <span class="player-name"><%= player.first_name %> <%= player.last_name %></span>
          <span class="player-height"><%= player.height %> cm</span>
          <span class="player-weight"><%= player.weight %> kg</span>
        </div>
      </div>
    <% end %>
  </div>
</div>
